body{
  background-color: rgb(203, 196, 187);
}

.search-wrapper{
  display: flex;
  justify-content: center;
}

#filter , #search{
  width: 20vw;
  background-color: white;
  border: 0.2em solid black;
  border-radius: 0.5em 0.5em;
  text-align: center;
}

#buttn{
  background-color: black;
  color: white;
  border: 0.2em solid black;
  border-radius: 0.5em 0.5em;
}

#buttn:active{
  transform: translateY(0.1em);  
}

.countries-grid{
  margin: 2em 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.country{
  background-color: rgb(200, 188, 173);
  border: 0.2em solid black;
  border-radius: 0.5em 0.5em;
  height: 6em;
  overflow: auto;
  text-align: center;
  font-weight: 500;
  margin: 0em 0.3em;
}

.country__region__name ,.country__capital__name{
  display: inline;
}

h1{
  text-align: center;
}

hr{
  margin: 2em 0em;
  border: 0.1em solid;
}

.country__name{
  font-weight: 600;
  width: 100%;
  margin-bottom: 0.5em;
}

.single-country-contaienr{
  margin: 2em 2em;
}

.hide {
  display: none;
}