$body-background: rgb(41, 41, 56);
$button-buynow-background: rgba(80, 211, 80, 0.823);
$button-buynow-background-hover: rgb(52, 181, 52);
$button-buynow-color: white;
$text-main-color: rgba(216, 214, 214, 0.988);
$text-main-shadow: rgba(218, 214, 214, 0.997);
$nav-dot: rgba(141, 140, 140, 0.903);
$nav-dot-active: rgb(243, 190, 91);
$buynow-bar-color: rgb(34, 33, 33);
$loadmore-bar-color:rgb(51, 51, 74);